{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="admin-container">
            <div class="title">
                <h1>NOUVELLE CATEGORIE</h1>
            </div>
            <div class="jukebox">
                <div class="row admin-widget">
                    {{ include('category/_form.html.twig') }}
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="{{ path('search') }}"><i class="las la-images"></i></a>
            <a href="{{ path('category_index') }}"><i class="las la-arrow-circle-left"></i></a>
        </div>
    </div>
{% endblock %}
