@import url(https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Love+Ya+Like+A+Sister&family=Oswald&display=swap);

/* Global */

* {
    padding:0;
    margin:0;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #212626 40%, #F27405) ;
    background-size: cover;
    background-repeat: no-repeat;
}

th {
    font-family: 'Oswald';
    font-size: 30px;
}

td {
    font-family: 'Averia Sans Libre';
    font-size: 20px;
}

.container {
    background: #212626;
    color: ghostwhite;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 80%;
    margin: 70px auto;
    border: 3px solid;
    border-color: #F29F05;
    border-radius: 30px;
    box-shadow: 15px 15px 5px #F29F05;
}

.btn-validate {
    border-radius: 10px;
    box-shadow: 5px 5px 5px #8FA2B3;
    color: #707F8C;
    background-color: whitesmoke;
}

/* Home page */

.home-title {
    color: #8FA2B3;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
    padding: 80px;
}

.home-title h1 {
    font-size: 130px;
}

.home-vinyl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.vinyl {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vinyl img {
    width: 650px;
    height: 650px;
}

.home-footer {
    font-size: 150px;
    padding: 0px 30px 20px;
    display: flex;
    justify-content: space-between;
}

.home-footer a {
    color: #8FA2B3;
}

/*Jukebox view*/

.jukebox-title {
    color: ghostwhite;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 60px;
    text-align: center;
    padding: 80px;
}