<form method="post" action="{{ path('album_delete', {'id': album.id}) }}"
      onsubmit="return confirm('Es-tu sûr de vouloir mettre ce vinyle aux puces ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ album.id) }}">
    <button class="btn-delete"><i class="las la-trash-alt"></i></button>
</form>
