{% extends 'base.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="admin-container">
            <div class="title">
                <h2>MODIFIER L'ALBUM</h2>
            </div>
            <div class="row justify justify-content-center">
                {{ include('album/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
        <div class="footer">
            <a href="{{ path('album_index') }}"><i class="las la-arrow-circle-left"></i></a>
            {{ include('album/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
