{% extends 'base.html.twig' %}

{% block title %}Nouvel Album{% endblock %}

{% block body %}
    <div class="page-container">
        <div class="admin-container">
            <div class="title">
                <h2>NOUVEL ALBUM</h2>
            </div>
            <div class="jukebox">
                <div class="row admin-widget">
                    {{ include('album/_form.html.twig') }}
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="{{ path('search') }}"><i class="las la-images"></i></a>
            <a href="{{ path('album_index') }}"><i class="las la-arrow-circle-left"></i></a>
        </div>
    </div>
{% endblock %}
