{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-container">
        <div class="home-title">
            <h1>MY VINYL COLLECTION</h1>
        </div>

        <div class="vinyl">
            <a href="{{ path('album_jukebox') }}"><img src="{{ asset('build/discos-de-acetato-png-5.png') }}"></a>
        </div>
        <div class="footer">
            <a href="{{ path('search') }}"><i class="las la-images"></i></a>
            <a href="{{ path('app_login') }}"><i class="las la-headphones-alt"></i></a>
        </div>
    </div>
{% endblock %}