{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-container">
        <div class="home-title">
            <h1>MY VINYL COLLECTION</h1>
        </div>
        <section class="row black m-1">
            <div>
                <a href="{{ path('album_jukebox') }}">
                    <div class="vinyl">
                        <div class="label"></div>
                        <div class="hole"></div>
                    </div>
                </a>
            </div>
        </section>
        <div class="footer">
            <a href="{{ path('search') }}"><i class="las la-images"></i></a>
            <a href="{{ path('app_login') }}"><i class="las la-headphones-alt"></i></a>
        </div>
    </div>
{% endblock %}
